{% comment %} <p class="cart-attribute__field uploader-dawn">
  <input
    id="uploader"
    type="hidden"
    data-clearable="true"
    data-images-only="true"
    data-crop="16:9"
    role="uploadcare-uploader"
    name="properties[Upload]"
  />
</p> {% endcomment %}

<div>
  Upload custom image:
  <p class="cart-attribute__field uploader-dawn"> 
    <input
      id="uploader"
      type="hidden"
      role="uploadcare-uploader"
      data-clearable 
      data-images-only
      data-crop="16:9"
      name="properties[Upload]"
      />
  </p>
</div>



