

.uploadcare--jcrop-tracker:after {
    color: #fff;
    content: "PLEASE NOTE THAT ANYTHING IN THIS BORDER MAY BE CUT OFF!";
    /* position:absolute; */
    /* width:100%; */
    /* height:100%; */
    /* left:0; */
    /* background-size:cover; */
    /* background-position:50%; */
}

.uploadcare--jcrop-tracker:first-of-type {
    opacity: 1!important;
    background-color: transparent!important;
    box-shadow: inset 0 0 0 20px rgba(252,226,5,.4);
}



.custimg:after,.custimg:before {
    color: #fff;
    content: "PLEASE NOTE THAT ANYTHING IN THIS BORDER MAY BE CUT OFF!";
    font-size: 16px;
    position: absolute;
    border-style: solid;
    border-color: #ff0;
    opacity: .3;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-width: 18px;
  text-align: center
}

